* {
    box-sizing: content-box;
}

body {
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
}

header {
    background-color: lightskyblue;
    text-align: center;
    padding: 25px;
}

.navbar ul {
    list-style-type: none;
    background-color: aqua;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    text-decoration: none;
    padding: 5%;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: whitesmoke;
}

.navbar li {
    float: left;
    padding: 5%;
}

.img-main {
   margin: 1px auto;
   display: block; 
}

aside {
    width: 30%;
    float: left;
    padding: 15px;
}

section {
    width: 45%;
    float: left;
    padding: 10px;
}

article {
    width: 25%;
    float: left;
    padding: 15%;
}

table {
    text-align: left;
    width: 1000px;
}

th {
    text-decoration-line: underline;
}

table, th, td {
    border: 1px, solid, #000;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

tr:nth-child(2) {
    background-color: #62d2ee;
}

tr:nth-child(3) {
    background-color: #62d2ee;
}

tr:nth-child(7) {
    background-color: #62d2ee;
}

tr:nth-child(4) {
    background-color: #f8e217;
}

tr:nth-child(6) {
    background-color: #f8e217;
}

tr:nth-child(7) {
    background-color: #62d2ee;
}

tr:nth-child(5) {
    background-color: #64f511;
}

tr:nth-child(9) {
    background-color: #64f511;
}

tr:nth-child(8) {
    background-color: #ff0c0c;
}

table content-table {
    text-align: left;
    width: 1000px;
}

th {
    text-decoration-line: underline;
}

table, th, td {
    border: 1px, solid, #000;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

/*tr:nth-child(2) {
    background-color: #62d2ee;
}

tr:nth-child(3) {
    background-color: #62d2ee;
}

tr:nth-child(7) {
    background-color: #62d2ee;
}

tr:nth-child(4) {
    background-color: #f8e217;
}

tr:nth-child(6) {
    background-color: #f8e217;
}

tr:nth-child(7) {
    background-color: #62d2ee;
}

tr:nth-child(5) {
    background-color: #64f511;
}

tr:nth-child(9) {
    background-color: #64f511;
}

tr:nth-child(8) {
    background-color: #ff0c0c;
}*/
footer {
    display: block;
    clear: both;
    background-color: palegoldenrod;
    text-align: center;
    padding: 30px;
}

@media screen and (max-width:600px) {
    aside, section, article {
        width: 100%;
    }
}
    
